{
	"root": true,
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"node": true
	},
	"extends": "airbnb-base",
	"plugins": [
		"html"
	],
	"rules": {
		"import/extensions": [
			"error",
			"always",
			{
				"js": "never",
				"vue": "never"
			}
		]
	},
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": {
					"resolve": {
						"alias": {
							"Templates": "/home/bbc/workspace/gel-matter/docs/templates"
						}
					}
				}
			}
		}
	}
}
