$gel-grid-enable--markup-output: true;
$gel-grid-enable--1280-breakpoint: true;
$gel-grid-enable--box-sizing: true;

$gel-type-enable--markup-output: true;
$gel-type-enable--font-family: true;
$gel-type-enable--base-elements: true;


/**
 * Dependencies.
 */

@import '~normalize.css';

// "~" tells Webpack to import this 'like' a module.
@import '~gel-sass-tools';
@import '~sass-mq';


/**
 * Foundations.
 */

@import '~gel-typography';
@import '~gel-grid';


/**
 * Base.
 */

body {
  color: #333;
}

a {
  color: #E6711B;
  font-weight: bold;
  text-decoration: none;
}
