$gel-color--white: #fff;
$gel-color--orange: #e6711b;
$gel-color--yellow: #ffdc49;
$gel-color--cod-gray: #767676;
$gel-color--tundora: #404040;
$gel-color--black: #121212;
$gel-color--dusty-gray: #ccc;
$gel-color--alto: #dcdcdc;
$gel-color--gallery: #eeeeee;
$gel-color--pink: #E4124F;
$gel-color--green: #3DAA35;

$gel-color--text: $gel-color--tundora;
$gel-color--link-hover: $gel-color--black;
$gel-color--error: $gel-color--pink;
$gel-color--success: $gel-color--green;
$gel-color--beta-background: $gel-color--yellow;
$gel-color--menu-selected: $gel-color--yellow;
$gel-color--menu-hover: $gel-color--alto;
